In [1]:
import re
import string
import time
from copy import deepcopy

In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('dinkes-od_17486_persentase_pelayanan_kesehatan_pada_ibu_hamil__jenis_k.csv')

In [5]:
df.head()

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jenis_kunjungan,persentase_kunjungan,satuan,tahun
0,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,K1,101.0,PERSEN,2019
1,2,32,JAWA BARAT,3201,KABUPATEN BOGOR,K4,91.8,PERSEN,2019
2,3,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,K1,107.2,PERSEN,2019
3,4,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,K4,94.8,PERSEN,2019
4,5,32,JAWA BARAT,3203,KABUPATEN CIANJUR,K1,107.8,PERSEN,2019

In [6]:
df = df.drop(['kode_kabupaten_kota'], axis=1)

In [7]:
df

,id,kode_provinsi,nama_provinsi,nama_kabupaten_kota,jenis_kunjungan,persentase_kunjungan,satuan,tahun
0,1,32,JAWA BARAT,KABUPATEN BOGOR,K1,101.0,PERSEN,2019
1,2,32,JAWA BARAT,KABUPATEN BOGOR,K4,91.8,PERSEN,2019
2,3,32,JAWA BARAT,KABUPATEN SUKABUMI,K1,107.2,PERSEN,2019
3,4,32,JAWA BARAT,KABUPATEN SUKABUMI,K4,94.8,PERSEN,2019
4,5,32,JAWA BARAT,KABUPATEN CIANJUR,K1,107.8,PERSEN,2019
...,...,...,...,...,...,...,...,...
238,239,32,JAWA BARAT,KOTA TASIKMALAYA,K4,97.7,PERSEN,2022
239,240,32,JAWA BARAT,KOTA TASIKMALAYA,K6,84.6,PERSEN,2022
240,241,32,JAWA BARAT,KOTA BANJAR,K1,106.6,PERSEN,2022
241,242,32,JAWA BARAT,KOTA BANJAR,K4,99.5,PERSEN,2022
242,243,32,JAWA BARAT,KOTA BANJAR,K6,83.0,PERSEN,2022

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 243 entries, 0 to 242
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    243 non-null    int64
 1   kode_provinsi         243 non-null    int64
 2   nama_provinsi         243 non-null    object
 3   nama_kabupaten_kota   243 non-null    object
 4   jenis_kunjungan       243 non-null    object
 5   persentase_kunjungan  243 non-null    float64
 6   satuan                243 non-null    object
 7   tahun                 243 non-null    int64
dtypes: float64(1), int64(3), object(4)
memory usage: 15.3+ KB

In [9]:
from ekphrasis.classes.preprocessor import TextPreProcessor
from ekphrasis.classes.tokenizer import SocialTokenizer
from ekphrasis.dicts.emoticons import emoticons

In [10]:
text_processor = TextPreProcessor(
    normalize=['email', 'percent', 'money', 'phone', 'user', 'time', 'date', 'number'],
    annotate={"hashtag"},
    fix_html=True,
    segmenter="twitter",
    corrector="twitter",
    unpack_hashtags=True,
    unpack_contractions=True,
    spell_correct_elong=False,
    tokenizer=SocialTokenizer(lowercase=True).tokenize,
    dicts=[emoticons]
)

c:\Users\gabriella fani\AppData\Local\Programs\Python\Python311\Lib\site-packages\ekphrasis\classes\tokenizer.py:225: FutureWarning: Possible nested set at position 2190
  self.tok = re.compile(r"({})".format("|".join(pipeline)))

Reading twitter - 1grams ...
Reading twitter - 2grams ...

c:\Users\gabriella fani\AppData\Local\Programs\Python\Python311\Lib\site-packages\ekphrasis\classes\exmanager.py:14: FutureWarning: Possible nested set at position 42
  regexes = {k.lower(): re.compile(self.expressions[k]) for k, v in

Reading twitter - 1grams ...

In [11]:
# panggil ekphrasis

def bersih_data(text):
    return " ".join(text_processor.pre_process_doc(text))

In [12]:
# fungsi dari AMS 01-03. silakan cek bagaimana saya merubah menjadi fungsi

def non_ascii(text):
    return text.encode('ascii', 'replace').decode('ascii')

def remove_space_alzami(text):
    return " ".join(text.split())

def remove_emoji_alzami(text):
    return ' '.join(re.sub("([x#][A-Za-z0-9]+)"," ", text).split())

def remove_tab(text):
    return text.replace('\\t'," ").replace('\\n'," ").replace('\\u'," ").replace('\\',"")

def remove_tab2(text):
    return re.sub('\s+',' ',text)

def remove_rt(text):
    return text.replace('RT'," ")

def remove_mention(text):
    return ' '.join(re.sub("([@#][A-Za-z0-9]+)|(\w+:\/\/\S+)"," ", text).split())

def remove_incomplete_url(text):
    return text.replace("http://", " ").replace("https://", " ")

def remove_single_char(text):
    return re.sub(r"\b[a-zA-Z]\b", "", text)

def remove_excessive_dot(text):
    return text.replace('..'," ")

def change_stripe(text):
    return text.replace('-'," ")

def lower(text):
    return text.lower()

def remove_single_char(text):
    return re.sub(r"\b[a-zA-Z]\b", "", text)

def remove_excessive_dot(text):
    return text.replace('..'," ")

def lower(text):
    return text.lower()

def remove_whitespace_LT(text):
    return text.strip()

def remove_whitespace_multiple(text):
    return re.sub('\s+',' ',text)

def remove_punctuation(text):
    remove = string.punctuation
    remove = remove.replace("_", "") # don't remove hyphens
    pattern = r"[{}]".format(remove) # create the pattern
    return re.sub(pattern, "", text)

In [13]:
# hapus untuk <>
def remove_number_eks(text):
    return text.replace('<number>'," ")

def remove_angka(text):
    return re.sub(r"\d+", "", text) 

def remove_URL_eks(text):
    return text.replace('URL'," ").replace('url'," ")

def space_punctuation(text):
    return re.sub('(?<! )(?=[.,!?()])|(?<=[.,!?()])(?! )', r' ', text)

In [15]:
i = 0
final_string = []
s = ""
for text in df['nama_provinsi'].values:
    filteredSentence = []
    EachReviewText = ""
    proc = remove_rt(text)
    proc = lower(proc)
    proc = change_stripe(proc)
    proc = remove_emoji_alzami(proc)
    proc = remove_tab(proc)
    proc = remove_tab2(proc)
    proc = non_ascii(proc)
    proc = remove_incomplete_url(proc)
    proc = remove_excessive_dot(proc)
    proc = remove_whitespace_LT(proc)
    proc = remove_whitespace_multiple(proc)
    proc = remove_single_char(proc)
    proc = space_punctuation(proc)
    proc = remove_punctuation(proc)
    proc = remove_space_alzami(proc)
    proc = bersih_data(proc)
    proc = remove_number_eks(proc)
    proc = remove_angka(proc) 
    proc = remove_URL_eks(proc)
    EachReviewText = proc
    final_string.append(EachReviewText)

In [16]:
df["step01"] = final_string

In [17]:
df.head(10)

,id,kode_provinsi,nama_provinsi,nama_kabupaten_kota,jenis_kunjungan,persentase_kunjungan,satuan,tahun,step01
0,1,32,JAWA BARAT,KABUPATEN BOGOR,K1,101.0,PERSEN,2019,jawa barat
1,2,32,JAWA BARAT,KABUPATEN BOGOR,K4,91.8,PERSEN,2019,jawa barat
2,3,32,JAWA BARAT,KABUPATEN SUKABUMI,K1,107.2,PERSEN,2019,jawa barat
3,4,32,JAWA BARAT,KABUPATEN SUKABUMI,K4,94.8,PERSEN,2019,jawa barat
4,5,32,JAWA BARAT,KABUPATEN CIANJUR,K1,107.8,PERSEN,2019,jawa barat
5,6,32,JAWA BARAT,KABUPATEN CIANJUR,K4,95.5,PERSEN,2019,jawa barat
6,7,32,JAWA BARAT,KABUPATEN BANDUNG,K1,98.0,PERSEN,2019,jawa barat
7,8,32,JAWA BARAT,KABUPATEN BANDUNG,K4,96.8,PERSEN,2019,jawa barat
8,9,32,JAWA BARAT,KABUPATEN GARUT,K1,106.9,PERSEN,2019,jawa barat
9,10,32,JAWA BARAT,KABUPATEN GARUT,K4,94.4,PERSEN,2019,jawa barat

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 243 entries, 0 to 242
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    243 non-null    int64
 1   kode_provinsi         243 non-null    int64
 2   nama_provinsi         243 non-null    object
 3   nama_kabupaten_kota   243 non-null    object
 4   jenis_kunjungan       243 non-null    object
 5   persentase_kunjungan  243 non-null    float64
 6   satuan                243 non-null    object
 7   tahun                 243 non-null    int64
 8   step01                243 non-null    object
dtypes: float64(1), int64(3), object(5)
memory usage: 17.2+ KB

In [19]:
df_hapus = df[~df['step01'].str.contains(" ")]

In [20]:
df_hapus.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    0 non-null      int64
 1   kode_provinsi         0 non-null      int64
 2   nama_provinsi         0 non-null      object
 3   nama_kabupaten_kota   0 non-null      object
 4   jenis_kunjungan       0 non-null      object
 5   persentase_kunjungan  0 non-null      float64
 6   satuan                0 non-null      object
 7   tahun                 0 non-null      int64
 8   step01                0 non-null      object
dtypes: float64(1), int64(3), object(5)
memory usage: 0.0+ bytes

In [21]:
df_hapus.head(10)

Empty DataFrame
Columns: [id, kode_provinsi, nama_provinsi, nama_kabupaten_kota, jenis_kunjungan, persentase_kunjungan, satuan, tahun, step01]
Index: []

In [22]:
df_new = df[~df.isin(df_hapus)].dropna()

In [23]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 243 entries, 0 to 242
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    243 non-null    int64
 1   kode_provinsi         243 non-null    int64
 2   nama_provinsi         243 non-null    object
 3   nama_kabupaten_kota   243 non-null    object
 4   jenis_kunjungan       243 non-null    object
 5   persentase_kunjungan  243 non-null    float64
 6   satuan                243 non-null    object
 7   tahun                 243 non-null    int64
 8   step01                243 non-null    object
dtypes: float64(1), int64(3), object(5)
memory usage: 17.2+ KB

In [24]:
df_new

,id,kode_provinsi,nama_provinsi,nama_kabupaten_kota,jenis_kunjungan,persentase_kunjungan,satuan,tahun,step01
0,1,32,JAWA BARAT,KABUPATEN BOGOR,K1,101.0,PERSEN,2019,jawa barat
1,2,32,JAWA BARAT,KABUPATEN BOGOR,K4,91.8,PERSEN,2019,jawa barat
2,3,32,JAWA BARAT,KABUPATEN SUKABUMI,K1,107.2,PERSEN,2019,jawa barat
3,4,32,JAWA BARAT,KABUPATEN SUKABUMI,K4,94.8,PERSEN,2019,jawa barat
4,5,32,JAWA BARAT,KABUPATEN CIANJUR,K1,107.8,PERSEN,2019,jawa barat
...,...,...,...,...,...,...,...,...,...
238,239,32,JAWA BARAT,KOTA TASIKMALAYA,K4,97.7,PERSEN,2022,jawa barat
239,240,32,JAWA BARAT,KOTA TASIKMALAYA,K6,84.6,PERSEN,2022,jawa barat
240,241,32,JAWA BARAT,KOTA BANJAR,K1,106.6,PERSEN,2022,jawa barat
241,242,32,JAWA BARAT,KOTA BANJAR,K4,99.5,PERSEN,2022,jawa barat
242,243,32,JAWA BARAT,KOTA BANJAR,K6,83.0,PERSEN,2022,jawa barat

In [ ]:
df_new.to_csv('dinkes-od_17486_persentase_pelayanan_kesehatan_pada_ibu_hamil__jenis_k.csv',sep=",")